<footer>
<h3><a href="/index">Over the Horizon</a></h1>
A small, informal study for a CS class.
</footer>
<!-- d3 code -->
<script src="https://d3js.org/d3.v6.min.js"></script>
<!-- line graphs -->
<script src="/javascripts/lineChart.js"></script>

<!-- horizon charts -->
<script src="https://unpkg.com/d3-horizon-chart"></script>
<script src="/javascripts/horizonChart.js"></script>

<script src="/javascripts/viz-test.js"></script>