<footer>
<h3>Over the Horizon</h1>
A small, informal study for a CS class.
</footer>
<!-- d3 code -->
<script src="https://d3js.org/d3.v4.min.js"></script>
<!-- line graphs -->
<!-- horizon charts -->