/*body {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/

svg {
    background-color: #ffffff;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.svgdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}