
svg {
    background-color: #ffffff;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.svgdiv {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#percentIcon{
    padding-right: 10px;
}

#startDiv{

}
#startbuttonDiv{

}
#pDiv{

}