extends layout

block content
    div(class="container")
        div(class="section center-align")
            h1= title
            p Welcome to #{title}
            a(href="/survey")
                button(class="btn waves-effect waves-light") Start
