doctype html
html
    head
        title=title
        link(rel="stylesheet", href="/stylesheets/style.css")

        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

        script(src="https://d3js.org/d3.v7.min.js")

        script(src="/scripts/vis/chart.js")
        script(src="/scripts/vis/barchart.js")
        script(src="/scripts/vis/piechart.js")
        script(src="/scripts/vis/treemap.js")
        script(src="/scripts/main.js")

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
    body
        block content
