<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/header.ejs"); -%>
</head>




<body>
  <div id="page-container">
    <div class="container" id="content-wrap">

      <h1>horizon charts</h1>
      <p>The goal of a horizon chart is to condense the information in a chart so that more charts can be shown on one screen.
        This is done by cutting off the original chart at a certain value - 50 say -
        and dropping the part of the graph above the cutoff down to layer on top of the lower band.
        Color is used to show the layers: lighter colors mean lower layers,
        darker colors mean higher ones. Usually there are 2 to 3 layers.</p>
      <a type="button" class="btn btn-lg btn-primary" href="/test">test yourself</a>
      <!--<a type="button" class="btn btn-lg btn-default" href="/db">see results thus far</a>-->
    </div>

    <%- include ("../partials/footer.ejs") %>
  </div>

</body>

</html>
