<!DOCTYPE html>
<html>

<head>
  <%- include("../partials/header.ejs"); -%>
</head>




<body>
  <div id="page-container">
    <div class="container" id="content-wrap">

      <h1>horizon charts</h1>
      <p>explanation of how to read. comparison to a line graph.</p>
      <a type="button" class="btn btn-lg btn-primary" href="/test">test yourself</a>
      <a type="button" class="btn btn-lg btn-default" href="/db">see results thus far</a>
    </div>

    <%- include ("../partials/footer.ejs") %>
  </div>

</body>

</html>