<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/header.ejs"); -%>

</head>

<body>
    <div id="page-container">
        <div class="container" id="content-wrap">
            <div id="intro">
                <h2>Test Format</h2>
                <p>you will be shown two types of charts. each chart will have at least two sets of data on it.</p>
                <p>for each chart, two datasets will be identified, and you will be asked to state at a given x value,
                    which y value is greater. you will also be asked to compare the two y values at x in terms of
                    percent (e.g. if one is half the size of the other, you would answer 50%).</p>
                <button type="button" id="startButton" class="btn btn-primary">Start Test</button>
            </div>
            <div id="question" style="display: none;">
                <div id="chart-container" class="container"></div>
                <div id="form-container" class="container">
                    <form id="viz-form" class="form-check">
                        <!-- Prevent implicit submission of the form -->
                        <button type="submit" disabled style="display: none" aria-hidden="true"></button>

                        <label for="greater">Which y is greater?</label><br>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="datasetA" name="greater" value="A"
                                required>
                            <label class="form-check-label" for="datasetA">Dataset A</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="datasetB" name="greater" value="B">
                            <label class="form-check-label" for="datasetB">Dataset B</label>
                        </div>

                        <br><br>

                        <label class="no-margin">What percent is the smaller value of the larger?</label><br>
                        <small class="form-text text-muted">
                            (e.g. if one is half the size of the
                            other, you would write 50)
                        </small>
                        <div id="number-wrapper" class="input-group mb-3 col-xs-2">
                            <input id="number-input" type="number" class="form-control" min="0" max="100" required>
                            <div class="input-group-addon">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>

                </div>
                <br><br>
                <button type="button" id="nextButton" class="btn btn-primary">Next Chart</button>
                </form>

            </div>
        </div>

    <script src="/javascripts/viz-test.js"></script>
    <%- include ("../partials/footer.ejs") %>
        </div>

</body>

</html>