<!DOCTYPE html>
<html>

<head>
    <%- include("../partials/header.ejs"); -%>

</head>

<body>
    <div id="page-container">
        <div class="container" id="content-wrap">
            <div id="intro">
                <h2>Test Format</h2>
                <p>you will be shown two types of charts. each chart will have at least two sets of data on it.</p>
                <p>for each chart, two datasets will be identified, and you will be asked to state at a given x value,
                    which y value is greater. you will also be asked to compare the two y values at x in terms of
                    percent (e.g. if one is half the size of the other, you would answer 50%).</p>
                <button type="button" id="startButton" class="btn btn-primary">Start Test</button>
            </div>
            <div id="question" style="display: none;">
                <div id="chart-container" class="container"></div>
                <div id="form-container" class="container">
                    <form id="inputs" class="form-check">
                        <label for="greater">Which y is greater?</label><br>
                        <input type="radio" id="datasetA" name="greater" value="datasetA">
                        <label for="datasetA">Dataset A</label><br>
                        <input type="radio" id="datasetB" name="greater" value="datasetB">
                        <label for="datasetB">Dataset B</label>

                        <br><br>

                        <label>What percent is the smaller value of the larger?(e.g. if one is half the size of the
                            other, you would write 50)</label>

                        <div class="input-group mb-3">
                            <input type="number" class="form-control" min="0" max="100">
                            <div class="input-group-append">
                                <span class="input-group-text">%</span>
                            </div>
                        </div>
                        <br><br>
                        <button type="button" id="nextButton" class="btn btn-primary">Next Question</button>
                    </form>
                </div>
            </div>

        </div>

        <script>
            let questions = []
            let questionsCompleted = 0;

            for (let i = 0; i < 60; i++) {
                questions.push(i);
            }
            // 0-29: lines
            // 30-59: horizon

            function displayQuestion() {

                chartContainer = document.getElementById("chart-container");

                // select a random premade dataset
                let num = Math.round((questions.length - 1) * Math.random());
                let question = questions.splice(num, 1);
                
                chartContainer.innerHTML = question[0];

                // TODO: generate viz from question index
            }

            document.getElementById("startButton").addEventListener("click", function () {
                document.getElementById("intro").style.display = "none";
                document.getElementById("question").style.display = "block";
                displayQuestion();
            })

            function recordInput() {

                inputs = document.getElementsByTagName("inputs");
                console.log(inputs)
                // TODO record to database

                questionsCompleted++;
                console.log(questionsCompleted)

                if (questionsCompleted == 60) {
                    // stop, congrats, you're done!
                } else {
                    displayQuestion()
                }
            }

            document.getElementById("nextButton").addEventListener("click", recordInput)


        </script>
        <%- include ("../partials/footer.ejs") %>
    </div>

</body>

</html>